div {
    background-color: gray;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}
.inline-span {
    background-color: greenyellow;
    padding: 20px;
    margin: 20px;
}
.inline-block-span {
    background-color: greenyellow;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}