div {
    background-color: gray;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}
#element1 {
    display: none;
}
#element3 {
    visibility: hidden;
}
button {
    background-color: skyblue;
    font-weight: bolder;
}