/*
 * CSS File for: Learn CSS In Arabic 2021 - #37 - Pseudo Elements
 * Demonstrating content counters, attr() function, and custom list markers.
 */

/* --- General Styling (Not in <pre>) --- */
.counter-list, .attr-list {
    margin: 20px 0 30px 0;
    list-style: none; /* Remove default list markers for customization */
    padding-left: 0;
    width: 400px;
}
.counter-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    font-size: 18px;
}
/* -------------------------------------------------------------------------- */


/* --- Example CSS Rules (Included in the <pre> tag) --- */

/* 1. Custom Counters (Automatic Numbering) */
.counter-list {
    counter-reset: custom-counter; /* Initialize the counter */
}
.counter-list li::before {
    counter-increment: custom-counter; /* Increment the counter for each list item */
    content: "Item #" counter(custom-counter) " - "; /* Display the counter value */
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

/* 2. Displaying Attribute Content (attr()) */
.attr-list li {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 5px;
}
.attr-list li::after {
    content: " (Data: " attr(data-info) ")"; /* Get content from the data-info attribute */
    color: green;
    font-style: italic;
    margin-left: 5px;
}

/* 3. Custom List Markers (Arrow) */
.arrow-list {
    list-style: none;
    padding-left: 30px;
}
.arrow-list li {
    position: relative;
    margin-bottom: 15px;
}
.arrow-list li::before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: blue;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}