/*
 * CSS File for: Learn CSS In Arabic 2021 - #27 - Float And Clear
 * Demonstrating the 'float' property, parent collapse, and 'clear' fixes.
 */

/* --- General Styling (For visual clarity, not included in the <pre> tag) --- */
.container, .collapsing-parent, .container-fixed, .container-flow {
    margin-bottom: 30px;
    padding: 10px;
    border: 3px solid blue;
    background-color: #f0f0ff;
    width: 600px;
}
.box {
    padding: 15px;
    background-color: #ddd;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
    height: 100px; /* Consistent height for visual demos */
}
.collapsing-parent p, .container-fixed p, .container-flow p {
    background-color: lightgreen;
    padding: 5px;
    margin: 0;
}
/* -------------------------------------------------------------------------- */


/* --- Example CSS Rules (Included in the <pre> tag) --- */

/* 1. Floating Elements Side-by-Side */
.float-left {
    float: left;
    width: 33.33%;
}

/* 2. Parent Collapse */
.box-half {
    float: left;
    width: 50%;
    height: 100px;
}
.collapsing-parent {
    /* Height of this parent container will collapse around floated children */
    background-color: yellow;
    border: 2px solid red;
}

/* 3. Fixing Layout with a Sibling Clear Element */
.clear-both {
    clear: both;
}

