html {
    padding-left: 50px;
}

.div-1 {
    background-color: blue;
    background-color: #0000FF;
    background-color: rgb(0 0 255 / 50%); /* Transperancy 50% */
}

.div-2 {
    background-image: url('../imgs/image.png');
    background-repeat: repeat;
}

.div-3 {
    background-image: url('../imgs/image.png');
    background-repeat: no-repeat;
}

.div-4 {
    background-image: url('../imgs/image.png');
    background-repeat: repeat-x;
}

.div-5 {
    background-image: url('../imgs/image.png');
    background-repeat: repeat-y;
}