div {
    width: 300px;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: #EEE;
    text-align: center;
    font-size: 25px;
    line-height: 60px;

}
div:empty {
    background-color: red;
}

.two {
    width: fit-content;
    padding: 15px 25px;
    background-color: #d4d4d4;
}
.two:first-letter {
    margin-left: -40px;
    padding: 20px 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
    font-weight: bold;
}

.p {
    background-color: #EEE;
    font-size: 25px;
    padding: 10px;
    width: 600px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    border-width: 0 0 0 4px;
    border-color: #e91e63;
    border-style: solid;
}

.p::before {
    content: attr(data-person);
    width: 70px;
    height: 30px;
    background-color: #EEE;
    position: absolute;
    left: -115px;
    top: 5px;
    padding: 10px;
}

.p::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -28px;
    top: 50%;
    margin-top: -14px;
    border-width: 14px;
    border-color: transparent #e91e63 transparent transparent;
    border-style: solid;
}

.pp {
    background-color: #EEE;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    counter-increment: my-counter;
    position: relative;
    border-width: 0 5px 0 0 ;
    border-color: #f44336;
    border-style: solid;
}
.pp::before {
    content: counter(my-counter);
    background-color: #f44336;
    color: white;
    font-weight: bold;
    left: -70px;
    top: 0px;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
