.one {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    border: 3px black solid;
    position: relative;
    float: left;
    margin-right: 30px;
    box-shadow: -4px -4px 0px 0px #e91e63,
                 4px 4px 0px 0px #2196f3;
    counter-increment: mycounter;
}
.one::before {
    position: absolute;
    content: "Element";
    top: 50%;
    right: 25%;
    line-height: 0px;
    text-align: center;
}
.one::after {
    content: counter(mycounter);
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    font-family: arial;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 40%;
    margin-top: -10px;
}
.clear {
    clear: both;
}
/* ============================= */
.two {
    position: absolute;
    top: calc(50% - 50px) ;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-color: #efefef;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10px 20px;
    border-top-left-radius: 10px 20px;
    box-shadow: inset 1px 1px 7px 2px rgba(0, 0, 0, 0.7);
}
/* ========================================== */

.main {
    margin: auto;
    margin-top: 400px;
    margin-bottom: 200px;
    width: 550px;
    
}
.box {
    width: 250px;
    height: 300px;
    float: left;
    background-color: #EEE;

}
.title {
    background-color: #03a9f4;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    
}
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 200px;
    background-color: #dddddd;  
}
.sep {
    float: left;
    background-color: white;
    width: 50px;
    height: 300px;
    position: relative;
}
.sep::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 300px;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    background-color: #03a9f4;
    
}
.sep::after {
    content: "or";
    position: absolute;
    top: 150px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 25px;
    left: 50%;
    font-weight: bold;
    font-family: arial;
    margin-left: -12.5px;
}