body, html{
    padding: 0px;
}
div {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}
.assign-1-shape-1,
.assign-1-shape-2,
.assign-1-shape-3 {
    width: 500px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
.assign-1-shape-1 {
    background-color: blueviolet;
    background-color: #8a2be2;
    background-color: hsl(271% 76% 53%);
}
.assign-1-shape-2 {
    background-color: rgb(138 43 226 / 50%);
}
.assign-1-shape-3 {
    background-color: rgb(138 43 226 / 10%);
}
/* ========================================= */
.assign-2-shape-1,
.assign-2-shape-2,
.assign-2-shape-3,
.assign-2-shape-4 {
    background-color: gray;
    background-image: url('../imgs/5-8.png');
}
.assign-2-shape-1 {
    background-repeat: no-repeat;
}
.assign-2-shape-2 {
    background-repeat: repeat-y;
}
.assign-2-shape-3 {
    background-repeat: repeat-x;
}
.assign-2-shape-4 {
    background-repeat: repeat;
}
/* ========================================= */
.assign-3-shape-1,
.assign-3-shape-2,
.assign-3-shape-3,
.assign-3-shape-4 {
    background-color: gray;
    background-image: url('../imgs/5-8.png');
}
.assign-3-shape-1 {
    background-repeat: no-repeat;
}
.assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4 {
    background-repeat: repeat;
}
/* ========================================= */
.assign-4-shape-1,
.assign-4-shape-2,
.assign-4-shape-3,
.assign-4-shape-4 {
    background-color: gray;
    background-image: url('../imgs/5-8.png');
}
.assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}
.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 80%;
}
.assign-4-shape-4 {
    background-repeat: no-repeat;
    background-position: bottom right;
}