/*
 * CSS File for: Learn CSS In Arabic 2021 - #31 - Z-Index
 * Demonstrating the 'z-index' property.
 */

/* --- General Styling (Not in <pre>) --- */
.example-container {
    height: 150px;
    position: relative;
    border: 2px solid #ccc;
    background-color: #f7f7f7;
    margin-bottom: 50px;
    width: 400px;
}
.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute; /* Essential for z-index to work */
}
/* -------------------------------------------------------------------------- */


/* --- Example CSS Rules (Included in the <pre> tag) --- */

/* 1. Default Stacking Order (Order in HTML determines stack) */
.box-1 {
    background-color: red;
    top: 20px;
    left: 20px;
}
.box-2 {
    background-color: green;
    top: 30px;
    left: 40px;
}
.box-3 {
    background-color: blue;
    top: 40px;
    left: 60px;
}

/* 2. Controlling Stacking with Positive Z-Index */
.box-a {
    background-color: purple;
    top: 20px;
    left: 20px;
    z-index: 10; /* Highest, will be on top */
}
.box-b {
    background-color: orange;
    top: 30px;
    left: 40px;
    z-index: 5;
}
.box-c {
    background-color: #00bcd4; /* Cyan */
    top: 40px;
    left: 60px;
    z-index: 1; /* Lowest */
}

/* 3. Pushing Elements Back with Negative Z-Index */
.container-parent {
    position: relative; /* Creates a stacking context */
    overflow: hidden; /* Helps contain the element for clear demo */
}
.box-neg {
    background-color: pink;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Pushed behind parent's content */
    line-height: 150px;
}
.parent-content {
    position: relative;
    z-index: 0;
    padding: 10px;
}

/* 4. Z-Index Only Works with Positioned Elements */
.box-no-pos {
    width: 200px;
    background-color: #ffc107; /* Yellow */
    position: static; /* Default position */
    z-index: 1000; /* Ignored */
    top: 20px;
    left: 20px;
}
.box-pos {
    width: 200px;
    background-color: #17a2b8; /* Light Blue */
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 170px;
}