html,body {
    background-color: gray;
    padding: 0px;
    margin: 0px;
}
.div-1 {
    background-color: yellow;
    padding: 10px; /* 10px all sides */
    padding: 64px 32px 16px 8px; /* Top - Right - Bottom - Left */
    padding: 64px 32px; /* Top:64 right:32 bottom=top left=right */
    padding: 64px 32px 16px; /* left = right = 32*/
    padding-left: 16px; /* Each side can be specified independently */
    padding: -10px; /* Negative values not available */
}
p {
    background-color: aqua;
}