.div-1 {
    background-color: yellow;
    /* Top - Right - Bottom - Left */
    margin: 64px 32px 16px 8px;
}
.div-2 {
    background-color: yellow;
    margin: 0px;
    padding: 0px;
}

.div-3 {
    background-color: yellow;
    width: 80%;
    height: 50%;
    margin: auto;
}

p {
    background-color: aqua;
}